* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #f7f7f7;
  overflow-x: clip;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

h2 {
  color: #00506f;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

hr {
  background: rgba(0, 80, 111, 0.25);
  width: 100%;
}

h4 {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
}

.navbar-toggler-icon {
  font-size: 32px;
}

button {
  border: none !important;
}

.h-auto{
  height: auto;
}


