/********** INICIO ESTILOS HEADER **********/

.primaryNav {
  background: #32b3e5;
}
.primaryNav p {
  margin: 4px 0px 4px 0px;
  font-size: 18px;
}

.primaryNav p span {
  margin-right: 12px;
}

.sectionSlider {
  height: 700px;
  background: #e5f5fb;
}

.listItemNav {
  margin: 14px 0px 0px 0px;
  justify-content: end;
}

.listItemNav li {
  color: #444;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  width: max-content;
  list-style-type: none;
}

.listItemNav li .itemActive::after {
  width: 50%;
  height: 2px;
  background: #df3f00;
  content: "";
  display: block;
  margin: auto;
}

/********** CIERRE ESTILOS HEADER **********/

/********** INICIO ESTILOS HERO SECTION **********/

.contentSlider {
  margin-top: 100px;
}

.contentSlider h1 {
  color: #00506f;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0px;
}

.contentSlider p {
  color: #666;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 0px;
  margin-left: 2px;
}

.contentSlider button {
  border-radius: 8px;
  background: #df3f00;
  box-shadow: 0px 20px 25px 0px rgba(223, 63, 0, 0.3);
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  border: none;
  padding: 13px 27px;
  margin-top: 34px;
}
.contentSlider .sliderImage {
  margin-top: -115px;
}

.contentSlider button span {
  position: relative;
  top: 4px;
  margin-right: 12px;
}

.sliderFooter {
  padding-bottom: 8px;
  background: #ccecf8;
}

.icoSliderFooter {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 64px;
  background: #e5f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icoSliderFooter span {
  font-size: 38px;
  color: #00506f;
}

.textSliderFooter h3 {
  margin-top: 4px;
  color: #00506f;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0px;
}

.textSliderFooter p {
  color: #444;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

/********** CIERRE ESTILOS HERO SECTION **********/

/********** INICIO ESTILOS CYLINDERFORMATS SECTION **********/

.sectionMain {
  margin-top: 100px;
}

.articleCylinder {
  background: #ffff;
  padding-bottom: 18px;
  border-radius: 8px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.12);
}

.articleCylinder .imgCylinder {
  position: relative;
  margin-top: -48px;
}

.articleCylinder .contentCylinder {
  border-radius: 8px;
  background: #f6f6f6;
  flex-shrink: 0;
  margin: 0px 18px 0px 18px;
  padding-bottom: 26px;
}

.rowSubTitle {
  margin-bottom: 92px;
}

.articleCylinder .contentCylinder .descriptionCylinder {
  color: #666;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 10px;
  padding-top: 16px;
  margin: 0px;
}

.articleCylinder .contentCylinder .priceCylinder {
  color: #666;
  padding-bottom: 12px;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
}

.articleCylinder .contentCylinder .btnGeneral {
  border-radius: 8px;
  background: #df3f00;
  box-shadow: 0px 20px 25px 0px rgba(223, 63, 0, 0.3);
  border: none;
  padding: 4px 30px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
}

.flameLeft {
  width: inherit;
  position: absolute;
  z-index: 2;
  left: -42px;
  bottom: -88px;
}

.flameRight {
  width: inherit;
  position: absolute;
  z-index: 2;
  right: -48px;
  top: -112px;
}

.sectionFindusIn {
  margin-top: 192px;
  margin-bottom: 180px;
}

.sectionFindusIn p {
  color: #666;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

.imgNaldea {
  margin-top: 40px;
  margin-bottom: 32px;
  box-shadow: 0px 25px 25px 0px rgba(170, 170, 170, 0.35);
  position: inherit;
  z-index: 2;
}

.imgQuillon {
  box-shadow: 0px 25px 25px 0px rgba(170, 170, 170, 0.35);
}

.titleEncuentranos {
  margin-bottom: 22px;
}

/********** CIERRE ESTILOS CYLINDERFORMATS SECTION **********/

/********** INICIO ESTILOS ABOUTUS SECTION **********/
.sectionAboutUs p {
  color: #666;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

.sectionAboutUs {
  margin-bottom: 180px;
}

.imagesAboutUs {
  margin-top: 46px;
}

.aboutUsLeft,
.aboutUsRight,
.quoteHere {
  box-shadow: 0px 25px 25px 0px rgba(170, 170, 170, 0.35);
  position: inherit;
  z-index: 3;
}

/********** CIERRE ESTILOS ABOUTUS SECTION **********/

/********** INICIO ESTILOS QUOTEHERE SECTION **********/

.quoteHere {
  position: inherit;
  z-index: 2;
}

.sectionQuoteHere .flameLeft {
  top: -98px;
  bottom: 0;
  left: -32px;
  transform: rotate(180deg);
}

.sectionQuoteHere .flameRight {
  bottom: -82px;
  right: -42px;
  top: inherit;
  transform: rotate(180deg);
  z-index: 1;
}

.sectionQuoteHere form input,
.sectionQuoteHere form select {
  margin-bottom: 12px;
}

.sectionQuoteHere form textarea {
  margin-bottom: 24px;
}

.btnEnviar {
  border-radius: 8px;
  background: #df3f00;
  box-shadow: 0px 20px 25px 0px rgba(223, 63, 0, 0.3);
  border: none;
  padding: 8px 18px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
}

/********** CIERRE ESTILOS QUOTEHERE SECTION **********/

/********** INICIO ESTILOS FOOTER SECTION **********/

.sectionFooter {
  margin-top: 120px;
}

.accentFooter {
  background: #e0eff8;
  height: 20px;
}

.contentFooter {
  background: #00a0df;
  padding-top: 56px;
  padding-bottom: 56px;
}

.contentFooter ul li {
  list-style-type: disclosure-closed;
  color: #f1f1f1;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 154.545% */
  margin-bottom: 12px;
}

.contentFooter ul {
  padding-left: 18px;
}

.contentFooter .ulContacto {
  padding: 0;
}

.contentFooter .ulContacto li {
  list-style-type: none;
  padding: 0;
}

.contentFooter .mapa iframe {
  height: 220px;
  width: 75%;
  border-radius: 8px;
}

/********** CIERRE ESTILOS FOOTER SECTION **********/

@media only screen and (max-width: 991px) {
  .contentSlider {
    text-align: center;
  }
  .articleCylinder{
    margin-bottom: 88px;
  }
}


@media only screen and (max-width: 985px) {
  .listItemNav {
    justify-content: center;
    flex-direction: column;
  }
  .listItemNav li {
    margin: auto;
    margin-bottom: 14px;
  }
  .contentSlider h1 {
    font-size: 76px;
  }
}

@media only screen and (max-width: 576px) {
  .contentSlider h1 {
    font-size: 46px;
  }
  .contentSlider p{
    font-size: 18px;
    line-height: 24px;
    max-width: 90%;
    margin: auto;
    margin-top: 18px;
  }
  .contentSlider button{
    margin-top: 18px;
    font-size: 20px;
  }

  .sectionMain h2{
    font-size: 28px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 1400px){
  .sectionMain h2{
    font-size: 43px;
  }
}


